extends layout
block content
    header.card-header
        h4.card-title Sitter's Dashboard
        b Hello, #{currentUser.sitterfirstname}  
    |&nbsp
    div.form-row
        div.col.form-group.col-md-9    
            form.search(action='/sitterregistration/search')
                div.form-row
                    div.col-md-8
                        input.form-control(name='city' placeholder="Enter your search term ...")
                    div.col-md-4
                        input.btn.btn-dark.btn-block(type="submit")
        div.col.form-group.col-md-3    
            form(method="post" action='/sitterlogout')
                button.btn.btn-dark.btn-block(type="submit") Log out
    table.table
        thead.thead-dark
            tr
                th Baby's Name
                th Parent's Name
                th Parent's Contact
                th Club
                th Baby's Specific Decription
                th Add any Relevant Information about the Baby
        tbody
            each parent in parents
                tr
                    td #{parent.babyname}  
                    td #{parent.parentname}
                    td #{parent.parentcontact}
                    td
                        form(method="post" action='/sitterregistration/delete')
                            input(type="hidden", placeholder="", name="id", value=user._id)
                            button.btn.btn-dark.btn-block(type="submit") Delete