extends layout
block content
    header.card-header
        h4.card-title Welcome Supervisor
        b Hello, #{currentUser.adminfirstname}  
    |&nbsp
    div.form-row
        div.col.form-group.col-md-9    
            form.search(action='/supervisorregistration/search')
                div.form-row
                    div.col-md-8
                        input.form-control(name='city' placeholder="Enter your search term ...")
                    div.col-md-4
                        input.btn.btn-dark.btn-block(type="submit")
        div.col.form-group.col-md-3    
            form(method="post" action='/supervisorlogout')
                button.btn.btn-dark.btn-block(type="submit") Log out

                    table.table
                        thead.thead-dark
                            tr
                                th Baby's Name
                                th Parent's Name
                                th Parent's Contact
                                th Choose Club
                                th Add Specific Decription
                                th Choose Sitter
                                th Assign Task Below
                            tbody
                                each parent in parents
                                    tr 
                                        td #{parent.babyname}  
                                        td #{parent.parentname}
                                        td #{parent.parentcontact}
                                        td 
                                            select#inputState.form-control(name="club")
                                                option Choose...
                                                option(value="Day" ) Day
                                                option(value="Night" ) Night
                                                option(value="Extra Time" selected) Extra Time
                                                
                                        td
                                        td 
                                            select#inputState.form-control(name="sitter")
                                                option Choose...
                                                option(value="Maria Angella" ) Maria Angella
                                                option(value="Doreen Ayebare" ) Doreen Ayebare
                                                option(value="Grace Nakimera" selected) Grace Nakimera
                                                option(value="Ritah Apio")  Ritah Apio
                                                option(value="Sandra Sonko")  Sandra Sonko
                                        td 
                                            button.btn.btn-primary.btn-block(type="confirm") Assign Task   
                                            form(method="post" action='/supervisorregistration/delete')
                                        td
                                            input(type="hidden", placeholder="", name="id", value=user._id)
                                            button.btn.btn-dark.btn-block(type="submit") Delete